<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/app.css">  
        <title></title>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
    </head>
    <body>
      
        <div class="container">
            <h1> <%= budget.date %> </h1>
            <a href="/index"><button>Go Back</button></a>
            <p>Name: <%= budget.name %> </p>
            <p>From: <%= budget.from %> </p>
            <p>Amount: <%= budget.amount %> </p>
            <p>Tags: <%= budget.tags %> </p>
            
        </div>














    </body>
</html>